label {
    margin: 8px 0 16px 24px;
}

label>input,
label>textarea {
    display: block;
    margin-top: 8px;
}

input,
textarea {
    width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    margin: 24px 0 0 24px;
    padding: 12px;
}

textarea {
    height: 80px;
}

button {
    width: 95px;
    height: 40px;
    margin: 16px 0 0 24px;
    background-color: #4E75FF;
    border: none;
    border-radius: 8px;
    font-family: Montserrat,
        sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

button,
input,
textarea {
    font-family: Montserrat,
        sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2E2F42;

}

input:hover,
textarea:hover {
    border: 3px solid #000;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
}

input:active::placeholder,
textarea:active::placeholder {
    color: #2E2F42;
}

button:hover {
    background-color: #6C8CFF;
}

input:active,
textarea:active {
    border: 1px solid #808080;
}

.feedback-form {
    display: block;
    width: 408px;
    margin: 0 auto;
}